

<!-- <h1 style="padding-left:5%"><button type="button" class="btn btn-default"><%= link_to 'crear', todos_new_path %></button></h1> -->

<% @todo.each do |i| %>


  <div class="well">


    <button type="button" class="btn btn-success"><%= link_to 'Listo', listo_path(i) %></button>

    <%= i.description %>

    <span style="padding-left:5%"></span>
    <button type="button" class="btn btn-primary" ><%= link_to 'show', todo_path(i.id) %></button>
    <span style="padding-left:5%"></span>
    <button type="button" class="btn btn-info"><%= link_to 'edit', edit_path(i.id) %></button>
    <span style="padding-left:5%"></span>
    <button type="button" class="btn btn-danger"><%= link_to "delete", todo_path(i.id), method: :delete %> </button>


  </div>
<% end %>
